@tailwind base;
@tailwind components;
@tailwind utilities;

/* className="max-w-1920px flex justify-center items-center gap-10 p-5" */

/* * {
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;
} */
